@page
@model Labmark.Pages.Client.CreateModel
@{
}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <form onsubmit="unmaskForm(this)" method="post" id="formClient">
                            <div class="form-group" id="pagination" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;margin-top: -25px;width: 100%;">
                                <div class="border rounded shadow-sm rounded-100" style="padding-bottom: 10px;">
                                    <div class="form-row">
                                        <div class="col text-center" style="padding-top: 10px;margin-bottom: -20px;">
                                            <p class="text-center" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Novo Cliente</strong></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="col text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="pessoaFisicaCheck" onchange="pessoa('fisica')" style="padding-bottom: 10px;"  value="F" asp-for="_client.TypePerson" checked>
                                                <label class="form-check-label" for="formCheck-1" style="font-size: 18px;">Pessoa Física</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check text-center">
                                                <input class="form-check-input" type="radio" id="pessoaJuridicaCheck" onchange="pessoa('juridica')"  value="J" asp-for="_client.TypePerson">
                                                <label class="form-check-label" for="formCheck-2" style="font-size: 18px;">Pessoa Jurídica</label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="formCPF">
                                        <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 0px;">
                                            <div class="col-md-8 offset-md-1">
                                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Dados Pessoais</strong></p>
                                            </div>
                                            <div class="col-md-10 offset-md-1">
                                                <input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;"  asp-for="_client.Name" placeholder="Nome">
                                                <span asp-validation-for="_client.Name" class="text-danger"></span>
                                                <div class="form-row">
                                                    <div class="col-2">
                                                        <input class="form-control" type="text" asp-for="_client.Phone.Ddd" placeholder="DDD">
                                                        <span asp-validation-for="_client.Phone.Ddd" class="text-danger"></span>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="text" asp-for="_client.Phone.Number" placeholder="Telefone" data-mask="0 0000 0000">
                                                        <span asp-validation-for="_client.Phone.Number" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;"  asp-for="_client.Cpf" placeholder="CPF" data-mask="000.000.000-00">
                                                <span asp-validation-for="_client.Cpf" class="text-danger"></span>
                                                <input class="form-control" type="email" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;" asp-for="_client.Mail" placeholder="Email">
                                                <span asp-validation-for="_client.Mail" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="formCNPJ">
                                        <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 0px;">
                                            <div class="col-md-8 offset-md-1">
                                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Dados da Empresa</strong></p>
                                            </div>
                                            <div class="col-md-10 offset-md-1">
                                                <input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;"  asp-for="_client.Name" placeholder="Empresa">
                                                <span asp-validation-for="_client.Name" class="text-danger"></span>
                                                <div class="form-row">
                                                    <div class="col-2">
                                                        <input class="form-control" type="text" asp-for="_client.Phone.Ddd" placeholder="DDD">
                                                        <span asp-validation-for="_client.Phone.Ddd" class="text-danger"></span>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="text" asp-for="_client.Phone.Number" placeholder="Telefone" data-mask="0 0000 0000">
                                                        <span asp-validation-for="_client.Phone.Number" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;"  asp-for="_client.Cnpj" placeholder="CNPJ">
                                                <span asp-validation-for="_client.Cnpj" class="text-danger"></span>
                                                <input class="form-control" type="email" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;" asp-for="_client.Mail" placeholder="Email">
                                                <span asp-validation-for="_client.Mail" class="text-danger"></span>
                                                <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;"  asp-for="_client.StateRegistration" placeholder="Inscrição estadual">
                                                <span asp-validation-for="_client.StateRegistration" class="text-danger"></span>
                                                <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;"  asp-for="_client.TechnicalManager" placeholder="Responsável Técnico">
                                                <span asp-validation-for="_client.TechnicalManager" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;margin-top: -25px;">
                                        <div class="col-md-8 offset-md-1">
                                            <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Endereço</strong></p>
                                        </div>
                                        <div class="col-md-10 offset-md-1">
                                            <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;" asp-for="_client.Address.Cep" placeholder="CEP" id="cep" onblur="buscaCep()" data-mask="00000-000">
                                            <span asp-validation-for="_client.Address.Cep" class="text-danger"></span>
                                            <input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" asp-for="_client.Address.Street" id="logradouro" placeholder="Logradouro">
                                            <span asp-validation-for="_client.Address.Street" class="text-danger"></span>
                                            <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;" asp-for="_client.Address.Number" id="numero" placeholder="Numero">
                                            <span asp-validation-for="_client.Address.Number" class="text-danger"></span>
                                            <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;" asp-for="_client.Address.Neighborhood" id="bairro" placeholder="Bairro">
                                            <span asp-validation-for="_client.Address.Neighborhood" class="text-danger"></span>
                                            <input class="form-control" type="text" asp-for="_client.Address.Additional" placeholder="Complemento" id="additional">
                                            <span asp-validation-for="_client.Address.Additional" class="text-danger"></span>
                                            <div class="form-row">
                                                <div class="col"><input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;" id="cidade" placeholder="Cidade" readonly=""></div>
                                                <div class="col"><input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;margin-top: 10px;" id="uf" placeholder="UF" readonly=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                        <div class="col"></div>
                                        <div class="col text-center"><button class="btn btn-primary" type="submit" style="width: 142px;height: 52px;background-color: rgb(0,128,0);">Cadastrar</button></div>
                                        <div class="col"></div>
                                    </div>
                                </div>
                                </div>
</form>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        pessoa('fisica');
    });
    function pessoa(tipoPessoa) {
        if (tipoPessoa === 'fisica') {
            $('#formCNPJ').hide();
            $('#formCPF').show();
        } else {
            $('#formCPF').hide();
            $('#formCNPJ').show();
        }

    }
</script>