@page
@model Labmark.Pages.Incubation.IndexModel
@{
}
<div class="container-fluid">
    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
    <ul class="nav navbar-nav flex-nowrap ml-auto">
        <li class="nav-item dropdown d-sm-none no-arrow">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><label>Filtrar&nbsp;</label><i class="fas fa-filter" style="margin-bottom: 8px;"></i></a>
            <div class="dropdown-menu border rounded shadow-sm dropdown-menu-right p-3 animated--grow-in"
                 role="menu" aria-labelledby="searchDropdown" style="background-color: rgb(255,255,255);">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-3 text-center" style="background-color: #ffffff;"><label class="col-form-label">De</label></div>
                            <div class="col text-center"><input class="border rounded" type="date" style="margin-top: 5px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-center" style="background-color: rgba(255,255,255,0);"><label class="col-form-label">Até</label></div>
                            <div class="col text-center"><input class="border rounded" type="date" style="margin-top: 5px;"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Em andamento</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Concluidas</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Todas</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><button class="btn btn-primary" type="button" style="background-color: #800040;margin-top: 5px;margin-bottom: -5px;">Filtrar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Incubações</h3>
        <div class="dropleft no-arrow none-cel">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="height: 36px;background-color: #008080;"><label>Filtros</label><i class="fas fa-filter" style="margin-bottom: 8px;"></i></button>
            <div class="dropdown-menu" role="menu">
                <div class="row">
                    <div class="col">
                        <div class="row" style="padding-right: 10px;padding-left: 10px;">
                            <div class="col-3 text-center" style="background-color: rgba(255,255,255,0);"><label class="col-form-label">De</label></div>
                            <div class="col text-center" style="margin-top: -5px;"><input class="border rounded" type="date" style="margin-top: 5px;"></div>
                        </div>
                        <div class="row" style="padding-right: 10px;padding-left: 10px;">
                            <div class="col-3 text-center" style="background-color: rgba(255,255,255,0);"><label class="col-form-label">Até</label></div>
                            <div class="col text-center" style="margin-top: -5px;"><input class="border rounded" type="date" style="margin-top: 5px;"></div>
                        </div>
                        <div class="row" style="padding-right: 10px;padding-left: 10px;margin-top: 10px;">
                            <div class="col">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Em andamento</label></div>
                            </div>
                        </div>
                        <div class="row" style="padding-right: 10px;padding-left: 10px;">
                            <div class="col">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Concluidas</label></div>
                            </div>
                        </div>
                        <div class="row" style="padding-right: 10px;padding-left: 10px;">
                            <div class="col">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Todas</label></div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 10px;padding-top: 10px;">
                            <div class="col text-center"><button class="btn btn-primary" type="button" style="background-color: #800040;margin-top: 5px;margin-bottom: -5px;">Filtrar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-left-primary py-2 zoom">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-dark font-weight-bold h5 mb-0"><span>Amostra N° 113</span></div>
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span style="color: #4e73df;">Data de incubação: 26/10/2020</span></div>
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1" style="margin-bottom: 0px;"><span style="color: #4e73df;">Tempo restante: 00h 11m 01s</span></div>
                        </div>
                        <div class="col-auto"><span class="fa-stack fa-2x"><i class="fas fa-square fa-stack-2x text-primary"></i><i class="fas fa-info fa-stack-1x fa-inverse"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-left-primary py-2 zoom">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-dark font-weight-bold h5 mb-0"><span>Amostra N° 113</span></div>
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span style="color: #4e73df;">Data de incubação: 26/10/2020</span></div>
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1" style="margin-bottom: 0px;"><span style="color: #4e73df;">Tempo restante: 00h 11m 01s</span></div>
                        </div>
                        <div class="col-auto"><span class="fa-stack fa-2x"><i class="fas fa-square fa-stack-2x text-primary"></i><i class="fas fa-info fa-stack-1x fa-inverse"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-left-danger py-2 zoom" id="content" style="color: #800000;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-dark font-weight-bold h5 mb-0"><span>Amostra N° 222</span></div>
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span style="color: #4e73df;">Data de incubação: 25/10/2020</span></div>
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1" style="margin-bottom: 0px;"><span style="color: #ff0000;">Tempo restante: 0h 0m 00s</span></div>
                        </div>
                        <div class="col-auto"><span class="fa-stack fa-2x"><i class="fas fa-square fa-stack-2x" style="color: rgb(186,1,1);"></i><i class="fas fa-info fa-stack-1x fa-inverse"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

