@page
@using Labmark.Domain.Modules.Client.Controllers;
@using Labmark.Domain.Modules.Client.Infrastructure.Models.Dtos;
@using Labmark.Domain.Modules.Solicitation.Infrastructure.Models.Dtos;
@using Labmark.Domain.Modules.Solicitation.Infrastructure.Models.Enums;
@model Labmark.Pages.Sample.Create.FirstStepModel
@{
}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">

        <div class="container-fluid">
            <form method="post">
                <div class="row">
                    <div class="col">
                        <div class="border rounded p-5 rounded-100 shadow" style="background-color: #ffffff;">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Nova amostra<input type="text" class="text-center" readonly="" style="width: 65px;margin-left: 5px;" placeholder="544"></h4>
                            </div>
                            <div class="row">
                                <div class="col text-left">
                                    <div class="input-group">
                                        @Html.DropDownListFor(model => model._selectedClientId, new SelectList(Model._clientDtos, "Id", "Name"),"--- Cliente ---")
                                        <div class="input-group-append">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: 10px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">As amostras estavam embaladas adequadamente</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col" style="padding: 0px;padding-right: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Sim</label></div>
                                        </div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Não</label></div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: 10px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">O transporte está adequado</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Sim</label></div>
                                        </div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Não</label></div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: 10px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">A temperatura está adequada</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Sim</label></div>
                                        </div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Não</label></div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: 10px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">O volume de amostras é suficiente</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="formCheck-1" value="S" asp-for="_packaged.Answer">
                                                <label class="form-check-label" for="formCheck-1">Sim</label>
                                            </div>
                                        </div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check" style="margin-right: 0px;">
                                                <input class="form-check-input" type="radio" value="N" id="formCheck-2" asp-for="_packaged.Answer">
                                                <label class="form-check-label" for="formCheck-2">Não</label>
                                            </div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: 10px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">Existe o processo analítico adequado</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" value="S" asp-for="_proccess.Answer" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Sim</label></div>
                                        </div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="form-check"><input class="form-check-input" type="radio" value="N" asp-for="_proccess.Answer" id="formCheck-2"><label class="form-check-label" for="formCheck-1">Não</label></div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: 10px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">Observações</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><textarea style="width: 100%;height: 100%;"></textarea></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn" data-bs-hover-animate="pulse" type="submit" style="background-color: #800040;">Continuar&nbsp;<i class="fas fa-greater-than continue-icon"></i></button></div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>