@page
@using Labmark.Extensions;
@using Labmark.Domain.Modules.Sample.Infrastructure.Models.Dtos;
@using Labmark.Domain.Modules.Sample.Infrastructure.Models.Enums;
@model Labmark.Pages.Sample.Create.SecondStepModel
@{
    Model._sampleDto = new SampleDto();
    Model._sampleDto.Assays = new List<AssayDto>();
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M02));
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M06));
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M07));
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M13));
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M15));
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M15L));
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M16));
    Model._sampleDto.Assays.Add(new AssayDto(EnumAssay.M16L));
}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <form method="post">

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div id="mobile" class="none-desktop">
                            <h4 class="text-center text-dark mb-4">Nova amostra<input type="text" class="text-center" readonly="" style="width: 65px;margin-left: 5px;" placeholder="544"></h4>
                            <div class="row">
                                <div class="col-xl-6 text-left" style="font-size: 22px;">
                                    <div class="shadow-sm" style="background-color: #ffffff;padding: 0px;padding-right: 0px;">
                                        <div class="row" style="margin: 0px;">
                                            <div class="col text-left d-xl-flex justify-content-xl-center" style="padding: 0px;">
                                                <div class="card text-center" style="width: 100%;height: 100%;">
                                                    <div class="card-body text-left d-xl-flex justify-content-xl-center" style="background-color: #f5f5f5;">
                                                        <p style="font-size: 22px;">Ensaios</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="padding: 10px;">
                                            @{
                                                for (int i = 0; i < Model._sampleDto.Assays.Count(); i++)
                                                {
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-check"><input class="form-check-input big-checkbox" type="checkbox" id="formCheck-@Model._sampleDto.Assays[i].Id" asp-for="_sampleDto.Assays[i].Value"><label class="form-check-label text-left" for="formCheck-1" style="font-size: 15px;margin-right: 0px;margin-left: 5px;">@Model._sampleDto.Assays[i].Code &nbsp;- @Model._sampleDto.Assays[i].Code.GetDescription()<br></label></div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-center"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn" data-bs-hover-animate="pulse" type="submit" style="background-color: rgb(128,0,64);margin-top: 10px;">Confirmar<i class="fas fa-greater-than continue-icon"></i></button></div>
                            </div>
                        </div>
                        <div id="desktop" class="p-5 rounded-100 shadow none-cel">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col text-left d-xl-flex justify-content-xl-start"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn" data-bs-hover-animate="pulse" type="button" style="background-color: #800040;height: 49px;width: 120px;"><i class="fas fa-less-than continue-icon"></i>&nbsp;Voltar</button></div>
                                    <div class="col">
                                        <h4 class="text-dark mb-4">Nova amostra</h4>
                                    </div>
                                    <div class="col text-right"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn" data-bs-hover-animate="pulse" type="submit" style="background-color: #800040;width: 120px;">Confirmar<i class="fas fa-greater-than continue-icon"></i></button></div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 text-left" style="font-size: 22px;">
                                        <div class="shadow-sm" style="background-color: #ffffff;padding: 0px;padding-right: 0px;">
                                            <div class="row" style="margin: 0px;">
                                                <div class="col d-xl-flex justify-content-xl-center" style="padding: 0px;">
                                                    <div class="card" style="width: 100%;height: 100%;">
                                                        <div class="card-body d-xl-flex justify-content-xl-center" style="background-color: #f5f5f5;">
                                                            <p style="font-size: 25px;">Ensaios</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding: 10px;">
                                                @{
                                                    for (int i = 0; i < Model._sampleDto.Assays.Count(); i++)
                                                    {
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-check"><input class="form-check-input big-checkbox" type="checkbox" id="formCheck-@Model._sampleDto.Assays[i].Id" asp-for="_sampleDto.Assays[i].Value"><label class="form-check-label text-left" for="formCheck-1" style="font-size: 15px;margin-right: 0px;margin-left: 5px;">@Model._sampleDto.Assays[i].Code &nbsp;- @Model._sampleDto.Assays[i].Code.GetDescription()<br></label></div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col" style="margin-top: 10px;">
                                                        <div class="card" style="width: 100%;height: 100%;">
                                                            <div class="card-body d-xl-flex justify-content-xl-center" style="background-color: #f5f5f5;">
                                                                <p style="font-size: 22px;">Informações da amostra</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shadow-sm" style="background-color: #ffffff;padding: 20px;">
                                                    <div class="row" style="margin-top: 0px;">
                                                        <div class="col-xl-5 d-xl-flex justify-content-xl-start"><label class="col-form-label">Descrição</label></div>
                                                        <div class="col-xl-7 d-xl-flex justify-content-xl-start"><input class="border rounded" type="text" asp-for="_sampleDto.Description" style="width: 100%;"></div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-xl-5 d-xl-flex justify-content-xl-start"><label class="col-form-label">Data de fabricação</label></div>
                                                        <div class="col-xl-7 d-xl-flex justify-content-xl-start"><input class="border rounded d-xl-flex align-items-xl-center" asp-for="_sampleDto.FabricationDate" type="date" style="width: 100%;"></div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-xl-5 d-xl-flex justify-content-xl-start"><label class="col-form-label">Data de validade</label></div>
                                                        <div class="col-xl-7 d-xl-flex justify-content-xl-start"><input class="border rounded d-xl-flex align-items-xl-center" asp-for="_sampleDto.ExpirationDate" type="date" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col">
                                                        <div class="card" style="width: 100%;height: 100%;">
                                                            <div class="card-body d-xl-flex justify-content-xl-center" style="background-color: #f5f5f5;">
                                                                <p style="font-size: 22px;">Informações do laboratório</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shadow-sm" style="background-color: #ffffff;padding: 20px;height: 80%;">
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-xl-5 d-xl-flex justify-content-xl-start"><label class="col-form-label">Temperatura (ºC)</label></div>
                                                        <div class="col-xl-7 d-xl-flex justify-content-xl-start"><input class="border rounded" type="text" asp-for="_sampleDto.Temperature" style="width: 100%;"></div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-xl-5 d-xl-flex justify-content-xl-start"><label class="col-form-label">Lacre</label></div>
                                                        <div class="col-xl-7 d-xl-flex justify-content-xl-start"><input class="border rounded" type="text" asp-for="_sampleDto.Seal" style="width: 100%;"></div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-xl-5 d-xl-flex justify-content-xl-start"><label class="col-form-label">Oficio</label></div>
                                                        <div class="col-xl-7 d-xl-flex justify-content-xl-start"><input class="border rounded" type="text" asp-for="_sampleDto.Calling" style="width: 100%;"></div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-xl-5 text-left d-xl-flex"><label class="col-form-label">Termo de apreensão da amostra</label></div>
                                                        <div class="col-xl-7 d-xl-flex justify-content-xl-start"><input class="border rounded" type="text" asp-for="_sampleDto.TAA" style="width: 100%;height: 38px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>