@page
@model Labmark.Pages.Sample.ExamModel
@{
}


<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-4">Ensaios</h3>                
            </div>
           <div class="row" style="margin-bottom:10px;margin-top:-35px;">
              <label style="margin-left:15px;font-size: 18px;">Amostra:&nbsp;</label><input type="text" style="height:20px;width:500px;" class="info"readonly="" class="info" placeholder="N° @Model._sampleName"><label style="margin-left:15px;font-size: 18px;">Cliente:&nbsp;</label><input class="info" type="text" class="info" style="height:20px;width:375px;" readonly="" placeholder="@Model._sampleClient">          
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTableSample">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Editar</th>
                                    <th>Ensaio</th>
                                    <th>Metodologia</th>
                                    
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Editar</th>
                                    <th>Ensaio</th>
                                    <th>Metodologia</th>
                                    
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        columns = [

            { "data": "description" },
            { "data": "methodology" }
       

        ];

        table('dataTableSample', '/api/v1/Sample/ListAssayBySampleDilution/?sampleDilutionId=@Model._sampleDilutionId', '/Exam/', columns, '?sampleId=',true);
    });

</script>
