@page
@using Labmark.Extensions;
@using Labmark.Domain.Modules.Exam.Infrastructure.Models.Enums;
@using Labmark.Domain.Modules.Exam.Infrastructure.Models.Dtos;
@using Labmark.Domain.Modules.Sample.Infrastructure.Models.Dtos
@model Labmark.Pages.Test.ColifomsEscherichia.FirstStepModel
@{

    Model._leituras = new List<ReadingDto>();
    Model._leituras.Add(new ReadingDto(EnumReadings.FirstReading));
    Model._leituras.Add(new ReadingDto(EnumReadings.SecondReading));

    Model._diluicoes = new List<DilutionDto>();
    Model._diluicoes.Add(new DilutionDto(EnumDilutions.FirstDilution));
    Model._diluicoes.Add(new DilutionDto(EnumDilutions.SecondDilution));


}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <div class="row d-xl-flex justify-content-xl-center">
                <div class="col-xl-1"></div>
                <div class="col-xl-2 d-xl-flex"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn none-cel" data-bs-hover-animate="pulse" type="button" style="background-color: #800040;width: 120px;height: 50%;"><i class="fas fa-less-than continue-icon"></i>&nbsp;Voltar</button></div>
                <div class="col text-center">
                    <h4 class="text-dark mb-4" style="margin-left: 0px;">6.16 - Registro de Contagem e NMP de Coliformes Totais e Termotolerantes e Contagem de Escherichia coli<br></h4>
                </div>
                <div class="col-xl-2 d-xl-flex justify-content-xl-end"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn none-cel" data-bs-hover-animate="pulse" type="button" style="background-color: #800040;width: 120px;height: 50%;">Continuar&nbsp;<i class="fas fa-greater-than continue-icon"></i></button></div>
                <div class="col-xl-1"></div>
            </div>
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col">
                    <div class="border rounded shadow" style="background-color: #ffffff;padding: 20px;margin-top: 10px;height: 356px;width: 100%;">
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 50%;font-size: 22px;">Leitura</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var readings in Model._leituras)
                                                {
                                                    <tr> <td><input class="border rounded" type="text" style="width: 100%;margin-top: 50px;height: 42px;" placeholder="@readings.Code.GetDescription()" asp-for="@readings.Reading"></td></tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 50%;font-size: 22px;">Diluição</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var dilutions in Model._diluicoes)
                                                {
                                                    <tr> <td><input class="border rounded" type="text" style="width: 100%;margin-top: 50px;height: 42px;" placeholder="@dilutions.Code.GetDescription()" asp-for="@dilutions.Dilution"></td></tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="border rounded shadow" style="background-color: #ffffff;padding: 20px;margin-top: 10px;height: 356px;width: 100%;">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><label class="col-form-label" style="font-size: 20px;">Brilla</label></div>
                                </div>
                                <div class="row">
                                    <div class="col"><input class="border rounded" type="text" style="width: 100%;" asp-for="_colifomsEscherichia.Brilla"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><label class="col-form-label" style="font-size: 20px;">Estufa BOD</label></div>
                                </div>
                                <div class="row">
                                    <div class="col"><input class="border rounded" type="text" style="width: 100%;" asp-for="_colifomsEscherichia.BOD"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><label class="col-form-label" style="font-size: 20px;">Escherichia<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col"><input class="border rounded" type="text" style="width: 100%;" asp-for="_colifomsEscherichia.Escherichia"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><label class="col-form-label" style="font-size: 20px;">Banho Maria<br></label></div>
                                </div>
                                <div class="row">
                                    <div class="col"><input class="border rounded" type="text" style="width: 100%;" asp-for="_colifomsEscherichia.WatherBath"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="row">
                        <div class="col"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn none-desktop" data-bs-hover-animate="pulse" type="button" style="background-color: rgb(128,0,64);margin-top: 10px;">Continuar&nbsp;<i class="fas fa-greater-than continue-icon"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>