@page
@using Labmark.Domain.Modules.Sample.Infrastructure.Models.Dtos;
@using Labmark.Domain.Modules.Sample.Infrastructure.Models.Enums;
@model Labmark.Pages.Test.ColifomsEscherichia.SecondStepModel
@{
   

}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <form method="post">
            <div class="container-fluid">
                <div class="row d-xl-flex justify-content-xl-center">
                    <div class="col-xl-1"></div>

                    <div class="col text-center">
                        <h4 class="text-dark mb-4" style="margin-left: 0px;">6.16 - Registro de Contagem e NMP de Coliformes Totais e Termotolerantes e Contagem de Escherichia coli<br></h4>
                    </div>

                    <div class="col-xl-1"></div>
                </div>
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col">
                        <div class="border rounded shadow" style="background-color: #ffffff;padding: 20px;margin-top: 10px;height: 210px;width: 100%;">
                            <div class="row">
                                <div class="col">
                                    <div class="row" style="width: 100%;">
                                        <div class="col"><label class="col-form-label" style="font-size: 18px;">Diluição</label></div>
                                    </div>
                                    <div class="row" style="width: 100%;padding-left: 10px;">
                                        


                                            @*@Html.DropDownListFor(model => model._selectedDilutionId, new SelectList(Model._dilutionSampleDto.WaterDilutions, "Id", "Value"), "--- Diluição ---")*@

                                            @* Primeiro parametro é onde atribuir o id do item selecionado
                                                Segundo parametro o objeto selectlist onde:
                                                     o primeiro parametro é a lista de onde vem para popular,
                                                     o segundo é a propriedade que tem o valor que sera atribuido no primeiro parametro do dropdown
                                                     o terceiro é a propriedade qie sera mostrado o seu valor no dropdown
                                                 Terceiro o texto que ficara visivel quando nao estiver nenhum selecionado*@

                                            

                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row" style="width: 100%;">
                                        <div class="col"><label class="col-form-label" style="font-size: 18px;">Ponteira Alcada</label></div>
                                    </div>
                                    <div class="row" style="width: 100%;">
                                        <div class="col"><input class="border rounded" type="text" style="width: 104%;height: 130%;" asp-for="_colifomsEscherichia.Pointer_Reach"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border rounded shadow" style="background-color: #ffffff;padding: 20px;margin-top: 10px;height: 210px;width: 100%;">
                            <div class="row">
                                <div class="col">
                                    <div class="row" style="width: 100%;">
                                        <div class="col"><label class="col-form-label" style="font-size: 18px;">Fluxo Micropipetador</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><input class="border rounded" type="text" style="width: 100%;height: 130%;" asp-for="_colifomsEscherichia.FlowMicropipettor"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 12px;">
                                <div class="col">
                                    <div class="row" style="width: 100%;">
                                        <div class="col"><label class="col-form-label" style="font-size: 18px;">Pipeta</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><input class="border rounded" type="text" style="width: 100%;height: 130%;" asp-for="_colifomsEscherichia.Point"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="row">
                            <div class="col"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn none-desktop" data-bs-hover-animate="pulse" type="submit" style="background-color: rgb(128,0,64);margin-top: 10px;">Continuar&nbsp;<em class="fas fa-greater-than continue-icon"></em></button></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><button class="btn btn-primary btn-sm text-truncate shadow-none float-right tenant-continue-btn none-cel" data-bs-hover-animate="pulse" type="submit" style="background-color: #800040;width: 120px;margin-right:88px;margin-top:10px;">Continuar&nbsp;<em class="fas fa-greater-than continue-icon"></em></button></div>
                </div>
            </div>
        </form>
    </div>
</div>
