@page
@model Labmark.Pages.Account.LoginModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - Brand</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/assets/css/Animate-Cards-Devices.css">
    <link rel="stylesheet" href="~/assets/css/button.css">
    <link rel="stylesheet" href="~/assets/css/Continue-Button.css">
    <link rel="stylesheet" href="~/assets/css/Good-login-dropdown-menu-1.css">
    <link rel="stylesheet" href="~/assets/css/Good-login-dropdown-menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="~/assets/css/Responsive-Form.css">
    <link rel="stylesheet" href="~/assets/css/Search-Input-responsive.css">
</head>

<body style="background-color: rgb(128,0,0);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Esqueceu sua senha?</h4>
                                        <p class="mb-4">Basta digitar seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha!<br><br></p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group"><input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Email" name="email"></div><button class="btn btn-primary btn-block text-white btn-user" type="submit"
                                                                                                                                                                                                                  style="background-color: rgb(128,0,0);">
                                            Resetar senha
                                        </button>
                                    </form>
                                    <div class="text-center">
                                        <hr>
                                    </div>
                                    <div class="text-center"><label style="font-size: 12.8px;color: rgb(128,0,0);">Login</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Bootlint-Check-Button.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/DateRangePicker.js"></script>
    <script src="assets/js/ebs-bootstrap-datepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>